<div id="EnterNickname" class="hidden">
  <script src="/javascripts/nickname.js"></script>
  <h2>Hello there, in order to access the content, you will need a nickname</h2>
  <h2>Do not worry, you can change it later on</h2>
  <form>
    <input
      type="text"
      id="nickname_textbox"
      name="nickname_textbox"
      required
      placeholder="Nickname"
    />
    <button id="submit_userNickname" type="button">Submit</button>
  </form>
</div>
