<link rel="stylesheet" href="/stylesheets/header.css" />
<header id="main-header">
  <div id="company-name">PlantaPost</div>

  <nav id="navigation-menu">
    <!-- Put in the name of the file to link the page on the navigation-->
    <!--As done below-->
    <a class="navigation-link" href="/">Home Page</a>
    <a class="navigation-link" href="/create">Create Post</a>
    <a class="navigation-link" href="/forum">Forum Page</a>
  </nav>
</header>
