<header class="The-Main-header">

    <label id="company-name">THE COMPANY NAME</label>
    <nav id="navigation-menu">
        <ul class="main-menu">
            <!-- Put in the name of the file to link the page on the navigation-->
            <!--As done below-->
            <li><a href="/">Home Page</a></li>
            <li><a href="create">Create Post</a></li>
            <li><a href="#">Forum Page</a></li>
        </ul>
    </nav>
</header>