<!DOCTYPE html>
<html>
<div class="wrapper">
    <%- include('./partials/header.ejs'); -%>
</div>
<head>
    <title>Add a Plant Sighting</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
</head>
<body>
    <form action="/submit-plant-sighting" method="post" enctype="multipart/form-data">
        <h1>Add a Plant Sighting</h1>

        <label for="dateSeen">Date Seen:</label>
        <input type="datetime-local" id="dateSeen" name="dateSeen" required><br>

        <div id="mapid" style="height: 180px;"></div> <!-- contains the map -->    

        <label for="userNickname">Nickname:</label>
        <input type="text" id="userNickname" name="userNickname" required>

        <label for="image">Image:</label>
        <input type="file" id="image" name="image" accept="image/*" onchange="previewImage(event)"><br>
        <img id="imagePreview" src="#" alt="Image preview..." style="display: none;">

        <input type="hidden" id="latitude" name="latitude" step="any" required><br>

        <input type="hidden" id="longitude" name="longitude" step="any" required><br>

        <label for="commonName">Common Name:</label>
        <input type="text" id="commonName" name="commonName" required><br>

        <label for="scientificName">Scientific Name:</label>
        <input type="text" id="scientificName" name="scientificName" required><br>

        <label for="description">Description:</label>
        <input type="text" id="description" name="description" required><br>

        <label for="plantLength">Plant Length (cm):</label>
        <input type="number" id="plantLength" name="plantLength" step="0.01" required><br>

        <label for="plantHeight">Plant Height (cm):</label>
        <input type="number" id="plantHeight" name="plantHeight" step="0.01" required><br>

        <label for="plantSpread">Plant Spread (cm):</label>
        <input type="number" id="plantSpread" name="plantSpread" step="0.01" required><br>

        <label for="flowerColor">Flower Colour:</label>
        <input type="text" id="flowerColor" name="flowerColor" required><br>

        <label for="sunExposure">Sun Exposure:</label>
        <select id="sunExposure" name="sunExposure" required>
            <option value="">--Select One--</option>
            <option value="full sun">Full Sun</option>
            <option value="partial shade">Partial Shade</option>
            <option value="full shade">Full Shade</option>
        </select><br>

        <label for="hasFlowers">Has Flowers:</label>
        <input type="checkbox" id="hasFlowers" name="hasFlowers" value="true">

        <label for="hasLeaves">Has Leaves:</label>
        <input type="checkbox" id="hasLeaves" name="hasLeaves" value="true">

        <label for="hasFruitsOrSeeds">Has Fruits or Seeds:</label>
        <input type="checkbox" id="hasFruitsOrSeeds" name="hasFruitsOrSeeds" value="true">

        <label for="dbPediaUri">DBPedia URI:</label>
        <input type="text" id="dbPediaUri" name="dbPediaUri" required><br>

        <label for="status">Status:</label>
        <select id="status" name="status" required>
            <option value="Verified">Verified</option>
            <option value="Pending Verification">Pending Verification</option>
        </select><br>

        <input type="submit" value="Add Sighting">
    </form>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="/javascripts/script.js"></script>
    <script src="/javascripts/map.js"></script>
</body>

<div class="wrapper">
    <%- include('./partials/footer.ejs'); -%>
</div>
</html>