<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Plant Information</title>
    <script defer src="/javascripts/plantDownloader.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/plantInfo.css" />
</head>
<body>
<%- include('partials/header') %>
<main>
    <h1> Got to the offline page of</h1>
    <p id="populateWithCommonName"></p>
    <script>
        document.addEventListener('DOMContentLoaded', function(){
            const urlParams = new URLSearchParams(window.location.search);
            const currentPlant = decodeURIComponent(urlParams.get('plant'))
            document.getElementById("populateWithCommonName").innerText = JSON.stringify(currentPlant)
        })
    </script>
</main>

<!-- Footer -->
<%- include('./partials/footer.ejs'); -%>
</body>
</html>
