.sort-and-filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
}

.sorting-section {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.filter-section {
  flex: 5;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.filter-options {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.filter-check-label {
  display: flex;
  gap: 2px;
  align-items: center;
}

.filter-label {
  margin: 0;
}

img {
  height: 250px;
  object-fit: cover;
}

.card {
  color: black;
}

button {
  margin-top: auto;
  width: 60px;
}

.entries {
  display: flex;
  flex-direction: row;
  color: black;
}

.entry {
  background-color: white;
  border-radius: 10px;
}

.entry-info {
  padding: 15px;
}

.entry-info > * {
  margin: 0;
}

.entry-title {
  margin: 0;
  font-weight: bold;
  font-size: 20px;
}
