:root {
  --main-color: #3a4e48;
  --accent-color: #beb0a7;
  --background-color: #8b9d83;
  --container-color: #6a7b76;
}

* {
  box-sizing: border-box;
}
#onlineStatus{
  display:block;
}
#offlineStatus{
  display:none;
}


#offline-card-text,#offline-card-title,#offline-view-details, .hidden{
  display:none;
}



html,
body {
  height: 100%;
}

body {
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  margin: 0;
  background-color: var(--background-color) !important;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

h1 {
  margin: 0;
  text-align: center;
}

main {
  margin: 20px auto;
  width: 960px;
  padding: 20px;
  background-color: var(--container-color);
  border-radius: 5px;
  color: white;
}

button {
  padding: 10px;
  height: 40px;
  border-radius: 5px;
  min-width: 60px;
  border: none;
  background-color: var(--accent-color);
}

input[type='text'],
input[type='number'],
input[type='datetime-local'],
select {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: none;
  padding: 10px;
}

.hidden {
  display: none !important;
}

#EnterNickname {
  margin: 0;
  text-align: center;
}

#EnterNickname > form {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
